:root {
    --pixels-per-day: 32px;
    --row-height: 28px;
    --row-font-size: 14px;
    --gantt-height: calc(var(--row-height) * 13);
    --item-padding: 4px;
    --item-height: calc(var(--row-height) - calc(var(--item-padding) * 2));
    --item-line-height: calc(var(--item-height) - calc(var(--item-padding) * 2))
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#gantt {
    display: inline-flex;
    position: relative;
    border: 1px solid rgba(50, 50, 50, 0.25);
    margin: 10px;
    width: calc(100vw - 20px);
}

#ganttBody {
    display: inline-flex;
    position: relative;
    overflow: auto;
    height: 381px;
}

#ganttLabels {
    width: 150px;
    margin-top: calc(var(--row-height) * 3);
}

.gantt-headers {
    display: inline-block;
}

.gantt-headers .gantt-row {
    position: absolute;
}

.gantt-headers .gantt-row:first-child {
    border-top: none;
}

.gantt-headers .gantt-month-row .gantt-cell:first-child {
    border-left: 1px solid rgba(50, 50, 50, 0.25);
}

.gantt-cell {
    display: flex;
    border-right: 1px solid rgba(50, 50, 50, 0.25);
    justify-content: center;
    padding-top: calc((var(--row-height) - var(--row-font-size)) / 2.5);
}

.gantt-row {
    display: flex;
    flex-direction: row;
    height: var(--row-height);
    border-top: 1px solid rgba(50, 50, 50, 0.25);
    font-size: var(--row-font-size);
    transition: all .15s;
}

.gantt-row.gantt-month-row {
    height: calc(var(--gantt-height));
}

.gantt-row.gantt-week-row {
    top: var(--row-height);
    height: calc(var(--gantt-height) - var(--row-height));
}

.gantt-row.gantt-day-row {
    top: calc(2 * var(--row-height));
    height: calc(var(--gantt-height) - calc(2 * var(--row-height)));
}

.person-label-row.gantt-cell {
    border-right: none;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5px;
}

.gantt-day {
    width: var(--pixels-per-day);
}

.gantt-cell.blocked {
    background: rgba(150, 10, 10, 0.15);
}

.gantt-week,
.gantt-month {
    overflow: hidden;
    white-space: nowrap;
}

.gantt-week {
    width: calc(5 * var(--pixels-per-day));
    border-right: 2px solid #bbb;
}

.gantt-month {
    width: calc(25 * var(--pixels-per-day));
    border-right: 3px solid #aaa;
}

.gantt-row.gantt-week-row .gantt-week:last-child {
    border-right: none;
}

.gantt-row.gantt-day-row .gantt-day:last-child {
    border-right: none;
}

.gantt-person-rows {
    position: absolute;
    top: calc(var(--row-height) * 3);
    height: calc(var(--gantt-height) - calc(var(--row-height) * 3));
}

.person-row {
    border-color: rgba(50, 50, 50, 0.25);
    position: relative;
}

.gantt-item {
    font-size: 12px;
    position: absolute;
    top: var(--item-padding);
    height: var(--item-height);
    background: rgb(10, 186, 240);
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    transition: all .15s;
}

.gantt-item:hover {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px rgba(0, 0, 0, 0.075);
}

.gantt-item .gantt-content {
    height: 100%;
    width: 100%;
    padding: 3px 4px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    line-height: var(--item-line-height);
    font-size: calc(var(--item-line-height) + 1px);
    user-select: none;
}

.droppable {
    background: rgba(0, 0, 0, 0.075);
}